* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}

:root {
    --color-primary: #9792e4;
    --color-secondary: #0084fd;
    --color-secondary-light: #b5ddff;
    --color-tertiary: #FDC15F;
    --bp-sm: 580px;
    --bp-md: 768px;
    --bp-lg: 992px;
}

.container {
    width: 968px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
}

.col-1 {
    flex-basis: calc(100% / 3 - 13.4px);
}

.col-2 {
    flex-basis: calc(100% / 3 * 2 - 7px);
}

.col-3 {
    flex-basis: 100%;
}

.card {
    border-radius: 1rem;
    padding: 25px 15px;
    min-height: 295px;
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.bg-secondary-light {
    background-color: var(--color-secondary-light);
}

.color-primary {
    color: var(--color-primary);
}

.color-tertiary {
    color: var(--color-tertiary);
}
.white {
    color: white;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    display: block;
    z-index: 999;
}

nav .container {
    padding: 15px;
}

nav .nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    list-style: none;
    padding-left: 20px;
    font-size: 15px;
}

nav img {
    max-width: 80%;
}

li a {
    color: white;
}

a {
    text-decoration: none;
}

.hamburger-menu {
    color: white;
    display: none;
}

.btn {
    border-radius: 20px;
    padding: 10px;
}

.btn-white {
    background-color: white;
    color: black;
}
.btn-blue {
    background-color: var(--color-secondary);
    color: white;
    text-align: center;
    display: block;
    max-width: 67%;
}
.btn-purple {
    background-color: var(--color-primary);
    color: white;
    padding: 10px 50px;
}

.after-nav {
    margin-top: 50px;
}

.m-bottom-sm {
    margin-bottom: 25px;
}

.m-bottom-md {
    margin-bottom: 50px;
}

.m-bottom-lg {
    margin-bottom: 100px;
}

.relative {
    position: relative;
}

.phone {
    align-self: center;
    justify-self: flex-end;
    transform: translatey(30px);
}

.phone img {
    max-height: 240px;
}

.card h3, .card .fa-4x  {
    color: var(--color-secondary);
}

.card h3 {
    font-size: 17.5px;
}

.card p {
    color: #5A6E7F;
    font-weight: 600;
}

p {
    line-height: 24px;
}

.text-center {
    text-align: center;
}

.img-100 {
    max-width: 100%;
}

.img-70 {
    max-width: 70%;
}
.p-medium {
    padding: 20px 50px;
}
.p-large {
    padding: 0 100px;
}

.col-left {
    color: white;
}

.col-right {
    align-self: flex-end;
    padding: 0 25px;
}
.col-right-in {
    background-color: white;
    border-radius: 50px;
    padding: 20px 15px;
}
.circle-btn {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: black;
    line-height: 40px;
}
/* sezione 3 */
.testimonial-box {
    border-radius: 50px;
    display: flex;
    padding: 25px 15px 40px 15px;
    align-items: center;
    gap: 50px;
    color: white;
}

.testimonial-box img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
/* sezione 4 */
.number-card {
    background-color: white;
    border-radius: 20px;
    padding: 30px 20px 37px 20px;
    font-size: 85%;
}
.bigger-h1 {
    font-size: 60px;
}
/* sezione 5 */
.about-us {
    padding: 0 35px;
}
.about-us img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.marks {
    color: var(--color-primary);
    position: absolute;
    top: 0;
    right: 5px;
}
.line-height-lg {
    line-height: 35px;
}
.btn-purple-small {
    font-size: 14px;
    padding: 8px 15px;
}
.fa-linkedin {
    margin-right: 5px;
}
/* sezione 6 */
.justify-center {
    justify-content: center;
}
.text-xs {
    font-size: 13.2px;
}
.btn-white-lg {
    display: inline-block;
    background-color: white;
    color: var(--color-primary);
    padding: 20px 60px;
    border-radius: 40px;
}
.point {
    font-size: 25px;
    vertical-align: -3px;
}
.link-sm {
    text-decoration: underline;
}
/* footer */
footer {
    background-color: #333333;
}

@media screen and (max-width: 992px) {
    .container {
        width: calc(var(--bp-md) - 1rem);
    }
    .col-md-half {
        max-width: 50%;
    }
    .phone {
        transform: translatey(40px);
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: calc(var(--bp-sm));
        padding-left: 0;
        padding-right: 0;
    }
    nav li {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
    .col-lg-half {
        flex-basis: calc(50% - 20px);
    }
    .btn-blue {
        max-width: 55%;
    }
    .change-direction {
        flex-direction: column;
    }
    .card-half {
        height: 460px;
    }
    .phone {
        transform: translateY(-30px);
    }
    .col-md-full {
        flex-basis: 100%;
        padding: 0;
        margin: 0;
        font-size: 20px;
    }
    
}