* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-primary: #9792e4;
    --color-secondary: #0084fd;
    --color-secondary-light: #b5ddff;
    --color-tertiary: #FDC15F;
}

.container {
    width: 964px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;

    /* SOLO PER DEBUG */
    border: 1px dashed red;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
}

.col-1 {
    flex-basis: calc(100% / 3);
}

.col-2 {
    flex-basis: calc((100% / 3) * 2);
}

.col-3 {
    flex-basis: 100%;
}

.card {
    /* SOLO PER DEBUG */
    border: 1px solid red;
    border-radius: 1rem;
    min-height: 100px;
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.bg-secondary-light {
    background-color: var(--color-secondary-light);
}

.color-tertiary {
    color: var(--color-tertiary);
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    display: block;
    z-index: 999;
}

nav .container {
    padding: 15px;
}

nav .row {
    justify-content: space-between;
    align-items: center;
}

nav li {
    list-style: none;
    padding-left: 20px;
}

li a {
    text-decoration: none;
    color: white;
}

.btn {
    border-radius: 20px;
    padding: 10px;
}

.btn-white {
    background-color: white;
    color: black;
}

.after-nav {
    margin-top: 50px;
}